In [1]:
import os
import tweepy as tw
import pandas as pd
from datetime import datetime
import configparser

In [2]:
# API set-ups for the use of Twitter API
config = configparser.ConfigParser()
config.read('config.ini')

api_key = config['twitter']['api_key']
api_key_secret = config['twitter']['api_key_secret']

access_token = config['twitter']['access_token']
access_token_secret = config['twitter']['access_token_secret']

auth = tw.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth)

In [6]:
#var. 1.2
# search_query = "alejandro AND pozuelo"

search_results_dict = {}
def search_tweets(search_query, no_of_tweets=5):
    try:
        #Search without retweets
        tweets = api.search_tweets(q=search_query+' -filter:retweets', result_type='recent', count=no_of_tweets, tweet_mode='extended')       
        #Pulling Some attributes from the tweet
        attributes_container = [[tweet.user.screen_name, tweet.created_at, tweet.full_text] for tweet in tweets]
        #Collecting results to dict
        search_results_dict[search_query] = attributes_container
    except BaseException as e:
        print('Status Failed On,',str(e))
    return search_results_dict

In [20]:
# Getting search list from excel file

search_list = ['issa kallon', 'humphreys rotherham', 'jeremy ebobisse']
for query in search_list:
    search_tweets(query, 2)

In [32]:
## Search result to dataframe
#Creation of column list to rename the columns in the dataframe
columns = ["User", "Date Created", "Tweet"]
#Creation of Dataframe
tweets_df = pd.concat({k: pd.DataFrame(v) for k, v in search_results_dict.items()}, axis=0)
tweets_df.columns = columns
tweets_df

                                  User              Date Created  \
issa kallon         0    Sorarechina33 2022-10-06 15:53:39+00:00
                    1        QeeYouBet 2022-10-06 08:10:35+00:00
humphreys rotherham 0  CharlieEwanHawk 2022-10-03 09:58:22+00:00
                    1        JakeK4200 2022-10-01 22:54:59+00:00
jeremy ebobisse     0        ranch_boy 2022-10-07 16:04:46+00:00
                    1     HinterSports 2022-10-05 19:04:37+00:00

                                                                   Tweet
issa kallon         0            ðŸ‘€ ISSA KALLON ðŸ‘€ https://t.co/jjJlInp1jI
                    1  Pour ceux qui ont Issa Kallon sur #Sorare vous...
humphreys rotherham 0  WEâ€™VE GOT SUPER MATTY TAYLOR, HE KNOWS EXACTLY...
                    1  @GabSutton @piperjoee @CornyRUFC That sounds p...
jeremy ebobisse     0  @HeadStoryteller @RyanTClarke Or been forced t...
                    1  @Extratime Billy, this is Jeremy Ebobisse. He'...

In [40]:
# Data upload to excel
tweets_df.reset_index(level=[0,1], inplace=True)
tweets_df.drop('level_1', axis=1,inplace=True)
tweets_df['Date Created'] = tweets_df['Date Created'].dt.tz_localize(None)
tweets_df.to_excel('tweets_08.xlsx')

In [38]:
tweets_df['Date Created'] = tweets_df['Date Created'].dt.tz_localize(None)

In [41]:
tweets_df.to_excel('tweets_08.xlsx')

In [69]:
# # var. 2 - for multi page
# def get_tweets(list_of_tweets, keyword, num_of_tweets, data_until):
#     for tweet in tw.Cursor(api.search_tweets, q=keyword+' -filter:retweets', until=data_until, lang='en').items(num_of_tweets):
#         dict_ = {
#                  'Keywords': keyword,
#                  'User Name': tweet.user.name,
#                  'Screen Name': tweet.user.screen_name,
#                  'Tweet Created at': tweet.created_at,
#                  'Tweet Text': tweet.text,
#                  'Location': tweet.user.location,
#                  'Likes': tweet.favorite_count,
#                  'Retweets': tweet.retweet_count
#                  }
#         list_of_tweets.append(dict_)
#     return list_of_tweets

Empty DataFrame
Columns: []
Index: []